{
  "Logging": {
    "IncludeScopes": true,
    "Debug": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Debug",
        "Microsoft": "Warning",
        "System": "Warning"
      }
    }
  },

  "System": {
    "MeasurementAuthProxyUrl": "http://localhost:8080/authorization/v1/processor/measurements",
    "MessageAuthProxyUrl":     "http://localhost:8080/authorization/v1/processor/messages"
  },

  "InstanceName": "kerby-mqtt",

  "Mqtt": {
    "PublicBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "localhost",
      "MeasurementTopic": "$share/sensate/sensate/measurements",
      "BulkMeasurementTopic": "$share/sensate/sensate/measurements/bulk",
      "MessageTopic":  "$share/sensate/sensate/messages",
      "BulkMessageTopic":  "$share/sensate/sensate/messages/bulk"
    }
  }
}
