{
  "Workers": 3,
  "Interval": 1000,
  "InternalBatchSize": 10000,
  
  "BindAddress": "127.0.0.1",
  "Port": 8080,

  "Logging": {
    "File": "/app/logging/auth-service_%N.log",
    "Level": "INFO"
  },

  "Database": {
    "MongoDB": {
      "DatabaseName": "Sensate",
      "ConnectionString": "mongodb://user:password@localhost:27017/admin?appname=authservice",
      "MaxConnections":300
    },
    "PgSQL": {
      "ConnectionString": "user = sensate password = pw12345 host = localhost port = 5432 dbname = Sensate"
    }
  },

  "Mqtt": {
    "InternalBroker": {
      "Username": "",
      "Password": "",
      "Ssl": "false",
      "Port": 1883,
      "Host": "tcp://localhost",
      "ClientId": "prod-auth-01",
      "InternalCommandTopic": "sensate-auth/internal/commands",
      "InternalBulkMeasurementTopic": "sensate-auth/internal/measurements/bulk",
      "InternalBulkMessageTopic": "sensate-auth/internal/messages/bulk"
    }
  }
}
