{
  "web": {
    "port": 5000,
    "secret": "Secret12345",
    "timeout": 1500
  },
  "mongoDB": {
    "connectionString": "mongodb://localhost:27017/Sensate",
    "maxConnections": 300
  },
  "postgresql": {
    "user": "sensate",
    "host": "",
    "database": "Sensate",
    "password": "pw12345",
    "port": 5432
  },
  "mqtt": {
    "username": "",
    "password": "",
    "ssl": "false",
    "port": 1883,
    "host": "localhost",
    "internalMeasurementTopic": "sensate/internal/measurements",
    "internalBulkMeasurementTopic": "sensate/internal/measurements/bulk",
    "topicShare": ""
  }
}
